.logodiv {
    margin: 15px 25px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
    }

    @media (max-width: 768px) {
        margin:8px 25px;
        height: 2.8rem;
    }
}