.mainApp{
    height: 100vh;
}

.page {
    padding-top: 5rem;
    margin-left: 8.5rem;
    width: calc(100% - 9rem);
    background: #f1f1f1;

    h1 {
        margin-bottom: 15px;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        padding: 0 10px;
        padding-top: 5rem;
        width: 100%;
        padding-bottom: 8rem;
    }
}