.card {
    width: 200px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    background: rgb(193, 191, 231);
    background: linear-gradient(90deg, rgba(193, 191, 231, 1) 0%, rgba(183, 183, 255, 1) 0%, rgba(0, 255, 64, 1) 100%);
}

.boxIconDiv {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.boxtitle {
    font-weight: bold;
}